# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
dist/
client/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Misc
*.tmp
.render/
