# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env

# Build files
dist/
client/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Misc
*.tmp